
<script src="/javascripts/facebookLogin.js" type="application/javascript"></script>
<script type="application/javascript">


    function fbLogoutUser() {
        FB.getLoginStatus(function(response) {
            if (response && response.status === 'connected') {
                FB.logout(function(response) {

                    alert("로그아웃!");
                    location.href='/login/loginForm';
                    //document.location.reload();
                });
            }
        });
    }

    $(document).ready(function () {

        $("#goWriteForm").click(function () {
            location.href = "/proverb/insertForm";
        });

        //modifyPopup
        $(".modify").on('click', function (e) {

            var id = $(this).attr("idValue");

            location.href = "/proverb/detailForm?id=" + id;
        });

        //btnSubmit
        $('#btnSubmit').on('click', function (e) {
            e.preventDefault();

            if ($("#insertYn").val() == 'Y') {
                $.post('/proverb/insert',
                        $('#form1').serialize(),
                        function (data, status, xhr) {
                            location.href = './list';
                        });

                //수정 모드인 경우
            } else {
                $.post('/proverb/updatePerson',
                        $('#form1').serialize(),
                        function (data, status, xhr) {
                            location.href = './list';
                        });

            }


        });

        $('#btnDelete').on('click', function (e) {
            e.preventDefault();
            $.get('/proverb/deletePerson',
                    $('#form1').serialize(),
                    function (data, status, xhr) {
                        location.href = './list';
                    });


        });


    });

</script>

<!---#################################-->
<!---목록 리스팅 부분-------------------->
<!---#################################-->
<input type="hidden" id="fb_userid">
<div class="container">
    <input type="hidden" id="insertYn">
    <table id="mytable" border="1" style="width: 400px" class="table ">
        <tr>
            <th style="background-color: #e3e3e3;width: 50px;">id</th>
            <th style="background-color: #e3e3e3;width: 500px">contents</th>
            <th style="background-color: #e3e3e3;width: 100px;">name</th>
        </tr>

        {{#each persons}}
            <tr>
                <td> {{id}} </td>
                <!--<td><a href="/proverb/detailForm?id={{id}}"> {{contents}} </a></td>-->
                <td><a class="modify" idValue="{{id}}"> {{contents}} </a></td>
                <td> {{author}} </td>
            </tr>

        {{/each}}
    </table>

    <a href="#" id="goWriteForm" data-role="button">글쓰기</a>
    <button type="button" id="btnLogout" onclick="fbLogoutUser();">logout</button>
    <div id="loginStatus"></div>
    <div id="loginStatus2"></div>
    <div id="fb_image">

    </div>
</div>
<!---#################################-->
<!---목록 리스팅 부분 End------------------->
<!---#################################-->
</div>

